@font-face {
    font-family: 'eurostile';
    src: url('R41Eurostile-Bold.otf');
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    /* overflow: hidden; */
    font-family: 'eurostile';
    font-weight: bolder;
    transition: 1s ease;
}


*{
    font-size: 2.2rem;
}

*::selection{
    color: purple;
}

.get-back{
    color: black !important;
    text-decoration: none;
        z-index: 999;
}


#back{

    cursor: pointer;
    mix-blend-mode: difference;
    color: white;
}

#back a{
    z-index: 999;
    text-decoration: none;
    color: unset !important;
    margin: 0;
    width: fit-content;

}

li,ul{
    width: fit-content;
    padding: unset;
}
ul{
    max-width: 40%;
}

#buffer{
    mix-blend-mode: difference;
  color: white;
    width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buffer p{
    font-size: 8rem;
    font-family: Arial;
}

.smaller{
    width: min-content;
}
.smaller *{
    font-size: 18px;
}
.flex{
    display: flex;
    justify-content: space-around;
    width: inherit;
}

.centrino{
    height: 100vh;
    display: flex;
    align-items: center;
}

.header {
    position: absolute;
    font-weight: bold;
    z-index: 10;
    overflow-y: scroll;
    display: flex;
    z-index: 1001;
    align-items: center;
    /* max-height: 70vh; */
   
    width: 96%;
    left: 3%; top: 3%;

}

.infos{
    position: relative;
    width: 98%; left: 1%; top: -15%
}

.about{
    position: absolute;
  bottom: 2%;
  left: 2%;
 cursor: pointer;
z-index: 999;
color: black !important;
text-decoration: none;}



#closeInfo, .close{
    position: fixed;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    cursor: pointer;

}

#infoBox{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;

    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
    
}

.header p{
    /* width: 75%; */
    /* padding: 0 1rem; */
    margin: unset
}



.swiper {
    width: 98%;
    height: 100%;
}

    .swiper-slide {
        width:35%;}


.swiper-wrapper{
    display: flex;
align-items: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* width: 90%; */
    overflow: hidden;
 box-sizing: border-box;
    overflow: visible; 
    transition: transform 0.3s ease;

    backface-visibility: hidden;
    transform-origin: center center;
    /* perspective: 800px; */
}

.swiper-slide a{
    width: auto;
    height: auto;
}

video, img {
    box-shadow: 0px -2px 13px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px -2px 13px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -2px 13px 0px rgba(0,0,0,0.55);
    cursor: pointer;
}

.swiper-slide img, .swiper-slide video{
    box-shadow: unset;
    -webkit-box-shadow:unset;
    -moz-box-shadow:unset;
    cursor: unset;
}

video{
    pointer-events: none
}

.swiper-slide img,
.swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: contain;}

    .invert{
       color: white;
        mix-blend-mode: difference;
        
    }


.project-title {
    display: none;
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    mix-blend-mode: difference;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    text-align: center;
}

.gallery-view {
    display: flex;
    flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.gallery-swiper {
    flex: 1;
}

/* .gallery-title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
  bottom: .5rem;
} */

.title-project{
   width: 100%;
  text-align: center;
  z-index: 998;
  position: absolute;
}

#info-project{
    font-size: 1rem;
    cursor: pointer;

}

#infoProjectBox p{
   width: 88%;
   margin-left: 6%;
}

/* #infoProjectBox p:nth-child(2){
    overflow-y: scroll;
    max-height: 75vh;} */


@media only screen and (max-width: 992px){

    *{
        font-size: 1.3rem;
        line-height: 1.1;
    }

    .swiper-slide {
        width:95%;}

        #buffer p{
            font-size: 10em;
        }
}